/* Banner */
.Banner {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .banner-yellow,
  .banner-blue {
    flex-basis: 50%;
    text-align: center;
    position: relative;
    padding: 8px 0;
  }
  .banner-yellow {
    background-color: #eee747;
  }
  .banner-blue {
    background-color: #7637fc;
  }
  .banner-yellow p,
  .banner-blue p {
    color: white;
    display: inline-block;
  }
  .banner-yellow .btn,
  .banner-blue .btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    font-size: 12px;
    text-decoration: none;
  }
