.btn {
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 24px;
  }
  .btn-purple {
    border: 1px solid #642cd3;
    background-color: #642cd3;
    color: white;
    font-weight: bolder;
    box-shadow: 4px 4px 12px -2px rgba(50, 50, 50, 0.377);
    transition: color 0.1s ease-out, background-color 0.2s ease-out,
      box-shadow 0.2s ease-in;
  }
  .btn-light {
    width: 170px;
    margin-right: 20px;
    padding: 14px 0;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    color: #642cd3;
    font-weight: bolder;
    box-shadow: 3px 3px 11px -2px rgba(50, 50, 50, 0.274);
    transition: color 0.1s ease-out, background-color 0.2s ease-out,
      box-shadow 0.2s ease-in;
  }
  .btn-black {
    background-color: #02111a;
    color: white;
    font-weight: bolder;
    transition: color 0.1s ease-out, background-color 0.2s ease-out;
  }
  .btn-purple:hover {
    background-color: #f4f4f4;
    color: #642cd3;
    box-shadow: 5px 5px 14px -2px rgba(50, 50, 50, 0.45);
  }
  .btn-light:hover {
    background-color: #e2e2e2;
    border: 1px solid #642cd3;
    color: #602aca;
    box-shadow: 5px 5px 14px -2px rgba(50, 50, 50, 0.45);
  }
  .btn-black:hover {
    background-color: #02111ad3;
    color: rgba(255, 255, 255, 0.863);
  }
  .active {
    border: 1px solid #642cd3;
    background-color: #642cd3;
    color: white;
  }
  .active:hover {
    background-color: #642cd386;
    color: white;
  }
  .disabled {
    color: grey;
    background-color: #f4f4f4;
    border: none;
    cursor: not-allowed;
  }
  .disabled:hover {
    color: grey;
    background-color: #f4f4f4;
  }