/* Categories */
.category-wrapper {
    padding: 6%;
  }
  .Category h2 {
    margin: 0;
    padding: 20px 0 60px 0;
    font-size: 2.5em;
    position: relative;
  }
  .cards-wrapper {
    display: flex;
  }
  .CategoryCard {
    flex-basis: 25%;
    padding: 20px;
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 14px -2px rgba(50, 50, 50, 0.45);
    background-color: white;
    text-align: center;
    position: relative;
  }
  .CategoryCard:hover {
    box-shadow: 5px 5px 14px -2px #642cd3c2;
  }
  .CategoryCard:nth-last-child() {
    margin-right: 0;
  }
  .CategoryCard h3 {
    margin-top: 60px;
    margin-bottom: 120px;
    font-size: 1.4em;
  }
  .CategoryCard .btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
  }