/* DATA SCIENCE CV TEMPLATE */
.data-science-cv {
  margin: 20px;
}
.data-science-cv .flex-wrapper {
  display: flex;
}
.data-science-cv .personal {
  flex-basis: 80%;
}
.data-science-cv .photo {
  flex-basis: 20%;
  padding: 0 10px;
}
.data-science-cv .addImg {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}
.data-science-cv .name {
  font-size: 26px;
  color: #333333;
  height: 32px;
  padding-left: 12px;
  width: 95%;
}
.data-science-cv .title {
  font-size: 18px;
  color: #364458;
  height: 24px;
  padding-left: 12px;
  width: 95%;
}
.data-science-cv .about {
  margin-top: 10px;
  font-size: 12px;
  color: #333333;
  padding-left: 12px;
  width: 95%;
  overflow: hidden;
  height: 52px;
  margin-bottom: 10px;
}
.data-science-cv .c-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.data-science-cv .contact-wrapper {
  flex-basis: 25%;
}
.img-upload input {
  display: none;
}
.data-science-cv .contact-wrapper .wrap-cont-inp {
  color: #364458;
  display: flex;
  margin: 6px 16px;
}
.data-science-cv .contact-wrapper .wrap-cont-inp i {
  margin-left: 8px;
}
.data-science-cv .contact-wrapper .wrap-cont-inp Textarea {
  text-align: right;
}
.data-science-cv .contact-wrapper .wrap-cont-inp Textarea::placeholder {
  color: #364458;
}
.data-science-cv section {
  display: flex;
}
.data-science-cv section .left-section,
.data-science-cv section .right-section {
  flex-basis: 50%;
  padding: 0 20px;
}
.data-science-cv h3 {
  text-transform: uppercase;
  color: #364458;
}
.data-science-cv .add-section {
  list-style: none;
  padding-left: 0;
}
.data-science-cv .add-section-title Textarea,
.data-science-cv .add-section-title div {
  font-weight: bolder;
}
.data-science-cv .add-section-title Textarea,
.data-science-cv .company Textarea {
  height: 18px;
}

.data-science-cv .company Textarea,
.data-science-cv .company div {
  font-weight: lighter;
  color: #333333;
}
.data-science-cv .add-section-title Textarea,
.data-science-cv .add-section-title div,
.data-science-cv .company Textarea,
.data-science-cv .company div {
  font-size: 18px;
}
.data-science-cv .add-section,
.data-science-cv .date input,
.data-science-cv .city,
.data-science-cv .present,
.data-science-cv .tasks-title,
.data-science-cv .fixed-acomplishments {
  color: #364458;
  font-size: 12px;
}
.data-science-cv .date span {
  display: inline-block;
  color: #364458;
  font-size: 12px;
  margin-right: 10px;
}
.data-science-cv .tasks {
  list-style: circle;
  padding-left: 16px;
  font-size: 13px;
}
.data-science-cv .city {
  display: block;
}
.data-science-cv i {
  margin: 3px;
}

.new-skill {
  margin-bottom: 8px;
}
.data-science-cv .achievment {
  margin-bottom: 8px;
}
.data-science-cv .achievment .achievment-title Textarea,
.data-science-cv .achievment .achievment-desc Textarea {
  width: 100%;
}
.data-science-cv .achievment .achievment-title Textarea,
.data-science-cv .achievment .achievment-title div {
  font-size: 15px;
}
.data-science-cv .achievment .achievment-desc Textarea,
.data-science-cv .achievment .achievment-desc div {
  font-size: 12px;
  color: #333333;
}
.data-science-cv .lvl {
  margin-right: 8px;
  color: #364458;
  font-weight: bolder;
}
.data-science-cv .language p {
  font-size: 12px;
}
.data-science-cv .language Textarea {
  font-size: 16px;
  line-height: 16px;
}
.data-science-cv .informal-ed ul {
  font-size: 14px;
  padding-left: 0;
  list-style: none;
  color: #364458;
  margin: 8px 0;
}
.data-science-cv .informal Textarea,
.data-science-cv .informal div.informal-ed {
  width: fit-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 4px;
}
.data-science-cv .tasks {
  margin-bottom: 20px;
}
.data-science-cv .fixed-language,
.data-science-cv .fixed-lvl {
  margin: 0;
}
.data-science-cv .fixed-lvl {
  font-size: 12px;
  color: #364458;
}
.data-science-cv .wrap-cont-inp span{
  margin-left: 20px;
}