/* DESIGN CV TEMPLATE */
.design-cv {
  position: relative;
  padding: 0;
  border: 28px solid white;
}
.design-cv h3 {
  text-transform: uppercase;
}
.design-cv .contact-wrapper i.c{
  display: none;
}
.design-cv Textarea {
  min-height: 16px;
  width: 100%;
}
.design-cv Textarea {
  min-height: 28px;
}
.design-cv .header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 460px;
}
.design-cv section {
  padding-top: 125px;
}
.design-cv .section-wrapper {
  display: flex;
  border: 3px solid black;
  padding: 12px;
  padding-top: 280px;
}
.section-wrapper .design-left {
  flex-basis: 62.16%;
}
.left-wrapper {
  padding-right: 80px;
  padding-left: 40px;
}
.right-wrapper {
  padding-right: 20px;
}
.section-wrapper .design-right {
  flex-basis: 37.84%;
}
.design-cv .personal .name-cont,
.design-cv .personal .name-cont Textarea {
  background-color: black;
  color: white;
  text-align: center;
}
.design-cv .personal .name-cont {
  height: 250px;
  position: relative;
}
.design-cv .personal .name-cont .name-wrapper {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.design-cv .personal .name-cont .name-wrapper Textarea {
  width: 340px;
  text-align: left;
}
.design-cv .personal .name-wrapper{
  padding-left: 20px;
  text-align: left;
}
.design-cv .personal .name-wrapper .name p{
  margin:0;
}
.design-cv .personal .name-cont .name {
  height: 68px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 10px;
}
.design-cv .personal .name-cont .title {
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.design-cv .personal .about {
  height: 140px;
  margin-top: 12px;
  margin-left: 40px;
  width: 410px;
}

.design-cv .contact-wrapper Textarea {
  text-align: left;
}
.design-cv .add-section {
  list-style: none;
  padding-left: 0;
}
.design-cv .date input{
  width: 120px;
  font-size: 14px;
  font-weight: bolder;
  height: 20px;
}
.design-cv .date p {
  font-size: 16px;
  font-weight: bolder;
}
.design-cv .education .date input {
  width: 105px;
  font-size: 12px;
  font-weight: bolder;
  height: 20px;
}
.design-cv input.city{
   font-size: 12px;
  
}
.design-cv .tasks-title{
  font-size: 14px;
}
.design-cv .tasks {
  list-style: none;
  font-size: 12px;
}
.design-cv .achievments .achievment-desc Textarea {
  font-size: 12px;
  height: 42px;
  overflow: hidden;
}
.design-cv .Competencies {
  list-style: none;
  padding-left: 0;
 }
.design-cv .Competencies .competence .skill{
  font-size: 14px;
}
.design-cv .language .lvl {
  font-size: 14px;
  margin-right: 6px;
  font-weight: bolder;
}
.design-cv .language p {
  font-size: 12px;
}
.design-cv .work-desc p {
  font-size: 14px;
}
.design-cv .contact-design p {
  font-size: 14px;
  margin: 0;
}
.design-cv .work-desc {
  margin-bottom: 16px;
}
.design-cv .add-section-title p,
.design-cv .company p,
.design-cv .date p,
.design-cv .skills-competencies p {
  margin: 0;
}
.design-cv .skills-competencies p {
  font-size: 14px;
}