.error-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.error-cont h1 {
  color: #642cd3;
  margin-bottom: 80px;
  font-size: 48px;
}
.error-desc {
  color: rgb(17, 17, 17);
  margin-bottom: 20px;
}
.error-link {
  color: #d83c6b;
  font-weight: bolder;
}
a {
  text-decoration: none;
}
