/* Home page */
.home-wrapper {
  display: flex;
  padding: 6%;
}
.home-title,
.home-img {
  flex-basis: 50%;
}
.home-img img {
  width: 100%;
  margin-left: 40px;
}
.home-title {
  align-self: center;
}
.home-title .btn {
  margin-top: 26px;
  padding: 12px 36px;
}
.home-title h1 {
  font-size: 2.5em;
}
.home-title p,
.home-footer p {
  color: #7d868b;
  margin: 0;
}
.home-footer p {
  font-size: 14px;
}
.home-footer {
  text-align: center;
}
.home-footer p a {
  color: #642cd3;
  text-decoration: none;
}