/* MARKETING CV TEMPLATE */
.marketing-cv {
  margin: 20px;
}
.marketing-cv .flex-wrapper {
  display: flex;
}
.marketing-cv .personal {
  flex-basis: 80%;
}
.marketing-cv .photo {
  flex-basis: 20%;
  padding: 0 10px;
}
.marketing-cv .addImg {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}
.marketing-cv .name {
  font-size: 26px;
  color: #333333;
  height: 32px;
  padding-left: 12px;
  width: 95%;
}
.marketing-cv .title {
  font-size: 18px;
  color: #468f99;
  height: 24px;
  padding-left: 12px;
  width: 95%;
}
.marketing-cv .about {
  margin-top: 10px;
  font-size: 12px;
  color: #333333;
  padding-left: 12px;
  width: 95%;
  overflow: hidden;
  height: 52px;
  margin-bottom: 10px;
}
.marketing-cv .c-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #468f99;
  color: white;
}
.marketing-cv .contact-wrapper {
  flex-basis: 25%;
}
.img-upload input {
  display: none;
}
.marketing-cv .contact-wrapper .wrap-cont-inp {
  display: flex;
  margin: 6px 16px;
}
.marketing-cv .contact-wrapper .wrap-cont-inp i {
  margin-left: 8px;
}
.marketing-cv .contact-wrapper .wrap-cont-inp Textarea {
  background-color: #468f99;
  color: white;
  text-align: right;
}
.marketing-cv .contact-wrapper .wrap-cont-inp Textarea::placeholder {
  color: white;
}
.marketing-cv section {
  display: flex;
}
.marketing-cv section .left-section,
.marketing-cv section .right-section {
  flex-basis: 50%;
  padding: 0 20px;
}
.marketing-cv h3 {
  text-transform: uppercase;
  color: #468f99;
}
.marketing-cv .add-section {
  list-style: none;
  padding-left: 0;
}
.marketing-cv .add-section-title Textarea,
.marketing-cv .add-section-title div {
  font-weight: bolder;
}
.marketing-cv .add-section-title Textarea,
.marketing-cv .company Textarea {
  height: 18px;
}

.marketing-cv .company Textarea,
.marketing-cv .company div {
  font-weight: lighter;
  color: #333333;
}
.marketing-cv .add-section-title Textarea,
.marketing-cv .add-section-title div,
.marketing-cv .company Textarea,
.marketing-cv .company div {
  font-size: 18px;
}
.marketing-cv .add-section,
.marketing-cv .date input,
.marketing-cv .city,
.marketing-cv .present,
.marketing-cv .tasks-title,
.marketing-cv .fixed-acomplishments {
  color: #468f99;
  font-size: 12px;
}
.marketing-cv .date span {
  display: inline-block;
  color: #468f99;
  font-size: 12px;
  margin-right: 10px;
}
.marketing-cv .tasks {
  list-style: circle;
  padding-left: 16px;
  font-size: 13px;
}
.marketing-cv .city {
  display: block;
}
.marketing-cv i {
  margin: 3px;
}
.marketing-cv ul.Competencies{
    padding-left: 0;
  }
  .marketing-cv .competence {
    display: inline-block;
  }
  .marketing-cv .competence .skill {
    background-color: #468f99;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 14px;
  }
  .marketing-cv .achievment{
    margin-bottom: 8px;
  }
  .marketing-cv .achievment .achievment-title Textarea,
  .marketing-cv .achievment .achievment-desc Textarea {
    width: 100%;
  }
  .marketing-cv .achievment .achievment-title Textarea,
  .marketing-cv .achievment .achievment-title div {
    font-size: 15px;
  }
  .marketing-cv .achievment .achievment-desc Textarea,
  .marketing-cv .achievment .achievment-desc div  {
    font-size: 12px;
    color: #333333;
  }
  .marketing-cv .lvl {
    margin-right: 8px;
    color: #468f99;
    font-weight: bolder;
  }
  .marketing-cv .language p {
    font-size: 12px;
  }
  .marketing-cv .language Textarea {
    font-size: 16px;
    line-height: 16px;
  }
  .marketing-cv .informal-ed  ul{
    font-size: 14px;
    padding-left: 0;
    list-style: none;
    color: #446f99;
    margin: 8px 0;
  }
  .marketing-cv .informal Textarea {
    width: fit-content;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px;
  }

  .marketing-cv .tasks {
    margin-bottom: 20px;
  }
  .marketing-cv .fixed-language,
  .marketing-cv .fixed-lvl {
    margin: 0;
  }
  .marketing-cv .fixed-lvl {
    font-size: 12px;
    color: #468f99;
  }
  .marketing-cv .wrap-cont-inp span{
    margin-left: 20px;
  }
  .marketing-cv .tasks div {
    color: black;
  }
  .marketing-cv .education .fixed-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .marketing-cv .education .fixed-flex .ed {
    flex-basis: 50%;
   }
   .marketing-cv .education .fixed-flex .ed div{
    margin-right: 16px;
   }