/* CV NAV */
.CvNav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 16px;
  }
  .cv {
    width: 100%;
    background-color: white;
    z-index: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 12px;
    box-shadow: 5px 5px 14px -2px rgba(50, 50, 50, 0.45);
  }
  .edit-btn {
    position: absolute;
    margin: 16px;
    top: 0;
    right: 0;
    padding: 14px 28px;
    z-index: 2;
  }
  .download-btn {
    position: absolute;
    margin: 16px;
    top: 0;
    right: 0;
    padding: 14px 28px;
    z-index: 2;
  }