.pop-up {
  width: 100%;
  height: 100vh;
  background-color: white;
  background-image: url(.././img/bg/Backgroundpop-up.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.pop-up-wrapper {
  display: flex;
  padding: 10%;
}
.pop-up-title {
  flex-basis: 40%;
}

.pop-up-title {
  align-self: center;
}
.pop-up-title .btn {
  margin-top: 26px;
  padding: 12px 36px;
}
.pop-up-title h1 {
  font-size: 2.5em;
}

.pop-up-footer p {
  color: #7d868b;
  margin: 0;
}
.pop-up-footer p {
  font-size: 14px;
}
.pop-up-footer {
  text-align: center;
}
.pop-up-footer p a {
  color: #642cd3;
  text-decoration: none;
}
.pop-up-desc,
.pop-up-email {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}
.pop-up-email {
  color: #d83c6b;
}
.pop-up-desc {
  color: black;
  margin-top: 60px;
}
