.rating {
  display: flex;
}
.rating input {
  display: none;
}
.rating label {
  cursor: pointer;
  margin-right: 18px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #2c2c2c;
  position: relative;
  display: block;
}

.rating label.colored {
  background-color: #2c2c2c;
}

.new-skill {
  display: flex;
}
.new-skill input {
  height: 18px;
  font-size: 16px;
}
.new-skill p {
  font-size: 16px;
  margin: 0px;
  flex-basis: 40%;
}
