/* ScrollBox */
.ScrollBox {
    margin-top: 80px;
    height: 60vh;
    overflow: auto;
  }
  .ScrollBox::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  .ScrollBox::-webkit-scrollbar {
    width: 6px;
    background-color: #f4f4f4;
  }
  .ScrollBox::-webkit-scrollbar-thumb {
    background-color: #642cd3;
  }
  /* Scroll for Mozilla */
  .ScrollBox {
    scrollbar-width: thin;
    scrollbar-color: #642cd3 #f4f4f4;
  }
  .LinkedIn img,
  .Laika img {
    margin-bottom: 10px;
    box-shadow: 3px 3px 11px -2px rgba(50, 50, 50, 0.274);
  }