.work-section,
.add-section-wrapper,
.work-task,
.achievment-title,
.achievment-desc,
.language,
.informal {
  position: relative;
}

.work-section .add-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.add-section-wrapper .section-tooltip {
  position: absolute;
  top: -22px;
  left: 0;
}
.task-title-tooltip {
  margin-left: 30px;
}

.work-task .task-tooltip,
.informal-tooltip {
  position: absolute;
  top: 0;
  left: -34px;
}

.achievment-title .achievment-title-tooltip,
.achievment-desc .achievment-desc-tooltip,
.language .language-tooltip {
  position: absolute;
  top: 0;
  left: -26px;
}
.design-cv .wrap-cont-inp {
    position: relative;
}
.design-cv .wrap-cont-inp .tooltip {
    position: absolute;
    top:0 ;
    left: -20px;
}