/* WEB-DEVELOPMENT CV TEMPLATE*/
.web-development-cv .header {
  display: flex;
  border-bottom: 3px solid #2cbbad;
}
.web-development-cv .personal,
.web-development-cv .contact {
  flex-basis: 42%;
}
.web-development-cv .name-cont Textarea{
  margin-bottom: 6px;
}
.web-development-cv .photo {
  flex-basis: 16%;
  padding: 0 10px;
}
.web-development-cv .contact {
  text-align: right;
}
.web-development-cv .contact-wrapper {
  display: flex;
}
.web-development-cv .contact-wrapper input,
.web-development-cv .contact-wrapper span {
  flex-basis: 85%;
  width: 100%;
  text-align: right;
  font-size: 14px;
  height: 16px;
}
.web-development-cv .contact-wrapper i {
  color: #333333;
}

.web-development-cv .contact-wrapper i {
  text-align: center;
  flex-basis: 15%;
}
.web-development-cv .name-cont {
  border-left: 28px solid #333333;
}
.web-development-cv .addImg {
  width: 112px;
  height: 112px;
  border: 3px solid #2cbbad;
  border-radius: 50%;
}
.web-development-cv .name {
  font-size: 26px;
  color: #333333;
  height: 32px;
  padding-left: 12px;
}
.web-development-cv .title {
  font-size: 18px;
  color: #2cbbad;
  height: 24px;
  padding-left: 12px;
}
.web-development-cv .fixed-title {
  font-size: 18px;
  color: #2cbbad;
  padding-left: 12px;
}

.web-development-cv .about {
  margin-top: 10px;
  font-size: 12px;
  color: #333333;
  padding-left: 40px;
  width: 80%;
  overflow: hidden;
  height: 92px;
}
.web-development-cv .about-fixed {
  margin-top: 10px;
  font-size: 12px;
  color: #333333;
  padding-left: 40px;
}
.web-development-cv .contact {
  color: #333333;
}
.web-development-cv .contact-wrapper {
  margin-bottom: 8px;
}
.web-development-cv .contact-wrapper .wrap-cont-inp {
  position: relative;
 margin: 0 auto;
  display: flex;
 }
.web-development-cv .contact input {
  font-size: 14px;
  color: #333333;
  height: 18px;
}
.web-development-cv .body {
  display: flex;
}
.web-development-cv .body .left-section {
  flex-basis: 60%;
  padding-right: 60px;
}
.web-development-cv .body .right-section {
  flex-basis: 40%;
}

.web-development-cv .contact .contact-wrapper .delete-icon{
  position: absolute;
   top: -10px;
  right: -18px;
  font-size: 18px;
}

.web-development-cv .contact .contact-wrapper .delete-icon i{
  color: #2cbbad;
}
.web-development-cv .contact-wrapper .tooltiptext{
width: 120px;
text-align: center;
}
.web-development-cv h3 {
  text-transform: uppercase;
}
.web-development-cv .add-section {
  list-style: none;
  padding-left: 30px;
}
.web-development-cv .add-section-title input,
.web-development-cv .add-section-title div {
  font-weight: bolder;
}
.web-development-cv .add-section-title input,
.web-development-cv .company input{
  height: 18px;
}
.web-development-cv .add-section-title,
.web-development-cv .company {
  border-left: 30px solid #2cbbad;
  padding-left: 10px;
}
.web-development-cv .company input,
.web-development-cv .company div {
  font-weight: lighter;
  color: #333333;
}
.web-development-cv .add-section-title input,
.web-development-cv .add-section-title div,
.web-development-cv .company input,
.web-development-cv .company div {
  font-size: 18px;
}
.web-development-cv .date input,
.web-development-cv .city,
.web-development-cv .present,
.web-development-cv .tasks-title,
.web-development-cv .fixed-acomplishments {
  padding-left: 40px;
  color: #2cbbad;
  font-size: 12px;
}
.web-development-cv .date span {
  display: inline-block;
  color: #2cbbad;
  font-size: 12px;
  margin-right: 10px;
}
.web-development-cv .date span:first-child {
 padding-left: 40px;
}
.web-development-cv .fixed-acomplishments {
  margin: 0;
}

.web-development-cv .city {
  padding-left: 40px;
  display: block;
}
.web-development-cv .tasks {
  padding-left: 56px;
  list-style: square;
  color: #2cbbad;
}
.web-development-cv .work-task  {
 font-size: 13px;
}
.web-development-cv .tasks li div {
  color: black;
}
.web-development-cv .work-task input {
  width: 100%;
}
.web-development-cv i {
  color: #2cbbad;
  margin: 3px;
}
.web-development-cv .inline {
  display: inline;
}
.web-development-cv ul.Competencies{
  padding-left: 0;
}
.web-development-cv .competence {
  display: inline-block;
}
.web-development-cv .competence .skill {
  background-color: #2cbbad;
  color: white;
  padding: 6px;
  border-radius: 5px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 14px;
 }
.web-development-cv .achievment{
  margin-bottom: 8px;
}
.web-development-cv .achievment .achievment-title input,
.web-development-cv .achievment .achievment-desc textarea {
  width: 100%;
}
.web-development-cv .achievment .achievment-title input,
.web-development-cv .achievment .achievment-title div {
  font-size: 15px;
}
.web-development-cv .achievment .achievment-desc textarea,
.web-development-cv .achievment .achievment-desc div  {
  font-size: 12px;
  color: #333333;
}
.web-development-cv .lvl {
  margin-right: 8px;
  color: #2cbbad;
  font-weight: bolder;
}
.web-development-cv .language p {
  font-size: 12px;
}
.web-development-cv .language input {
  font-size: 16px;
  line-height: 16px;
}
.web-development-cv .informal-ed  ul{
  font-size: 14px;
  padding-left: 20px;
  list-style: square;
  color: #2cbbad;
}
.web-development-cv .informal input {
  width: 100%;
}
.web-development-cv .interests {
  display: flex;
}
.web-development-cv .interests span {
  font-size: 12px;
}
.web-development-cv .interests-left,
.web-development-cv .interests-right {
  flex-basis: 50%;
}
.web-development-cv ul.add-section {
  padding-left: 0;
}
