/* GENERAL STYLES */
.Home,
.Category,
.CvBuilder,
.ErrorPage {
  background-image: url(./img/bg/background.svg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* CV Builder - GENERAL*/
.cv-builder-wrapper {
  padding: 6%;
  display: flex;
}
.cv-main-wrapper {
  flex-basis: 70%;
  margin-right: 50px;
  position: relative;
}
.cv-notes-wrapper {
  flex-basis: 30%;
  height: 68vh;
  position: relative;
}

/* ______________________________ */
.cv-notes-fixed {
  position: fixed;
  right: 6%;
  top: 81px;
  height: 65vh;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 5px 5px 14px -2px rgba(50, 50, 50, 0.45);
}

/* CV */
/* TOOTLTIPS */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  font-size: 12px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: fit-content;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.cv-contents {
  padding: 24px;
}
textarea,
input {
  border: none;
  resize: none;
  height: fit-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-height: 14px;
}
textarea {
  width: 100%;
}
.img-upload input {
  display: none;
}
.addImg {
  cursor: pointer;
}
.fa-plus-circle,
.fa-times {
  font-size: 18px !important;
}
.fa-plus-circle {
  color: rgb(89, 182, 120) !important;
}
.fa-times {
  color: rgb(185, 56, 56) !important;
}
.lvl {
  cursor: pointer;
}
